includes:
	- phpstan-baseline.neon

parameters:
	level: 5
	paths:
		- src/
		- phpstan/
	tips:
	    treatPhpDocTypesAsCertain: false

services:
	-
		class: CCMBenchmark\Ting\PHPStan\PropertiesExtension
		tags:
			- phpstan.properties.readWriteExtension