parameters:
	ignoreErrors:
		-
			message: '#^Trait CCMBenchmark\\Ting\\Entity\\NotifyProperty is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Ting/Entity/NotifyProperty.php

		-
			message: '#^Call to method ReflectionClass\<CCMBenchmark\\Ting\\Repository\\MetadataInitializer\>\:\:isSubclassOf\(\) with ''CCMBenchmark\\\\Ting\\\\Repository\\\\MetadataInitializer'' will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: src/Ting/MetadataRepository.php

		-
			message: '#^Call to an undefined method Traversable\<int, mixed\>\:\:current\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Ting/Repository/Repository.php

