parameters:
	ignoreErrors:
		-
			message: '#^Return type \(int\|null\) of method CCMBenchmark\\Ting\\Driver\\Mysqli\\Serializer\\Boolean\:\:serialize\(\) should be compatible with return type \(string\) of method CCMBenchmark\\Ting\\Serializer\\SerializeInterface\:\:serialize\(\)$#'
			identifier: method.childReturnType
			count: 2
			path: src/Ting/Driver/Mysqli/Serializer/Boolean.php

		-
			message: '#^Strict comparison using \=\=\= between string and 0 will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Ting/Driver/Mysqli/Serializer/Boolean.php

		-
			message: '#^Strict comparison using \=\=\= between string and 1 will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Ting/Driver/Mysqli/Serializer/Boolean.php

		-
			message: '#^Trait CCMBenchmark\\Ting\\Entity\\NotifyProperty is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Ting/Entity/NotifyProperty.php

		-
			message: '#^Call to method ReflectionClass\<CCMBenchmark\\Ting\\Repository\\MetadataInitializer\>\:\:isSubclassOf\(\) with ''CCMBenchmark\\\\Ting\\\\Repository\\\\MetadataInitializer'' will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: src/Ting/MetadataRepository.php

		-
			message: '#^Strict comparison using \!\=\= between class\-string\<CCMBenchmark\\Ting\\Repository\\Repository\<object\>\> and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Ting/MetadataRepository.php

		-
			message: '#^Strict comparison using \=\=\= between string and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Ting/Query/Cached/Query.php

		-
			message: '#^Method CCMBenchmark\\Ting\\Query\\Query\:\:__construct\(\) with return type void returns \$this\(CCMBenchmark\\Ting\\Query\\Query\) but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Ting/Query/Query.php

		-
			message: '#^Method CCMBenchmark\\Ting\\Repository\\Hydrator\:\:identityMap\(\) has CCMBenchmark\\Ting\\Exception in PHPDoc @throws tag but it''s not thrown\.$#'
			identifier: throws.unusedType
			count: 1
			path: src/Ting/Repository/Hydrator.php

		-
			message: '#^Strict comparison using \=\=\= between true and true will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: src/Ting/Repository/Hydrator.php

		-
			message: '#^Offset ''columnName'' on array\{fieldName\: string, columnName\: string, type\: string, primary\?\: bool, autoincrement\?\: bool, serializer\?\: class\-string\<CCMBenchmark\\Ting\\Serializer\\SerializerInterface\>, serializer_options\?\: array\{serialize\?\: array\<mixed\>, unserialize\?\: array\<mixed\>\}\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: src/Ting/Repository/Metadata.php

		-
			message: '#^Offset ''fieldName'' on array\{fieldName\: string, columnName\: string, type\: string, primary\?\: bool, autoincrement\?\: bool, serializer\?\: class\-string\<CCMBenchmark\\Ting\\Serializer\\SerializerInterface\>, serializer_options\?\: array\{serialize\?\: array\<mixed\>, unserialize\?\: array\<mixed\>\}\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: src/Ting/Repository/Metadata.php

		-
			message: '#^Offset ''getter'' on array\{fieldName\: string, columnName\: string, type\: string, primary\?\: bool, autoincrement\?\: bool, serializer\?\: class\-string\<CCMBenchmark\\Ting\\Serializer\\SerializerInterface\>, serializer_options\?\: array\{serialize\?\: array\<mixed\>, unserialize\?\: array\<mixed\>\}\} in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: src/Ting/Repository/Metadata.php

		-
			message: '#^Offset ''setter'' on array\{fieldName\: string, columnName\: string, type\: string, primary\?\: bool, autoincrement\?\: bool, serializer\?\: class\-string\<CCMBenchmark\\Ting\\Serializer\\SerializerInterface\>, serializer_options\?\: array\{serialize\?\: array\<mixed\>, unserialize\?\: array\<mixed\>\}\} in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: src/Ting/Repository/Metadata.php

		-
			message: '#^Offset ''type'' on array\{fieldName\: string, columnName\: string, type\: string, primary\?\: bool, autoincrement\?\: bool, serializer\?\: class\-string\<CCMBenchmark\\Ting\\Serializer\\SerializerInterface\>, serializer_options\?\: array\{serialize\?\: array\<mixed\>, unserialize\?\: array\<mixed\>\}\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: src/Ting/Repository/Metadata.php

		-
			message: '#^PHPDoc tag @throws has invalid value \(\)\: Unexpected token "\\n     \*", expected type at offset 188 on line 7$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Ting/Repository/Metadata.php

		-
			message: '#^Strict comparison using \=\=\= between false and true will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 2
			path: src/Ting/Repository/Metadata.php

		-
			message: '#^Strict comparison using \=\=\= between true and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 3
			path: src/Ting/Repository/Metadata.php

		-
			message: '#^Call to an undefined method Traversable\<int, mixed\>\:\:current\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Ting/Repository/Repository.php

		-
			message: '#^Call to function method_exists\(\) with CCMBenchmark\\Ting\\Driver\\DriverInterface and ''ping'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: src/Ting/Repository/Repository.php

		-
			message: '#^Constructor of class CCMBenchmark\\Ting\\Repository\\Repository has an unused parameter \$serializerFactory\.$#'
			identifier: constructor.unusedParameter
			count: 1
			path: src/Ting/Repository/Repository.php

		-
			message: '#^Method CCMBenchmark\\Ting\\Repository\\Repository\:\:getAll\(\) should return CCMBenchmark\\Ting\\Repository\\CollectionInterface\<T\> but returns CCMBenchmark\\Ting\\Repository\\CollectionInterface\<object\>\.$#'
			identifier: return.type
			count: 1
			path: src/Ting/Repository/Repository.php

		-
			message: '#^Method CCMBenchmark\\Ting\\Repository\\Repository\:\:ping\(\) should return bool but returns null\.$#'
			identifier: return.type
			count: 1
			path: src/Ting/Repository/Repository.php

		-
			message: '#^Method CCMBenchmark\\Ting\\Repository\\Repository\:\:pingMaster\(\) should return bool but returns null\.$#'
			identifier: return.type
			count: 1
			path: src/Ting/Repository/Repository.php

		-
			message: '#^Result of method CCMBenchmark\\Ting\\Driver\\DriverInterface\:\:ping\(\) \(void\) is used\.$#'
			identifier: method.void
			count: 2
			path: src/Ting/Repository/Repository.php

		-
			message: '#^Type mixed in generic type CCMBenchmark\\Ting\\Repository\\Metadata\<mixed\> in PHPDoc tag @return is not subtype of template type T of object of class CCMBenchmark\\Ting\\Repository\\Metadata\.$#'
			identifier: generics.notSubtype
			count: 1
			path: src/Ting/Repository/Repository.php

		-
			message: '#^Instanceof between DateTime and DateTime will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Ting/Serializer/DateTime.php

		-
			message: '#^Strict comparison using \=\=\= between DateTime and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Ting/Serializer/DateTime.php

		-
			message: '#^Strict comparison using \=\=\= between string and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Ting/Serializer/DateTime.php

		-
			message: '#^Strict comparison using \=\=\= between true and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Ting/Serializer/DateTime.php

		-
			message: '#^Instanceof between DateTime and DateTimeImmutable will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: src/Ting/Serializer/DateTimeImmutable.php

		-
			message: '#^Static property CCMBenchmark\\Ting\\Serializer\\DateTimeImmutable\:\:\$deserialisationFormat is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Ting/Serializer/DateTimeImmutable.php

		-
			message: '#^Strict comparison using \=\=\= between DateTime and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Ting/Serializer/DateTimeImmutable.php

		-
			message: '#^Strict comparison using \=\=\= between false and false will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: src/Ting/Serializer/DateTimeImmutable.php

		-
			message: '#^Strict comparison using \=\=\= between string and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Ting/Serializer/DateTimeImmutable.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Ting/Serializer/DateTimeImmutable.php

		-
			message: '#^Method CCMBenchmark\\Ting\\Serializer\\DateTimeZone\:\:serialize\(\) should return string but returns null\.$#'
			identifier: return.type
			count: 1
			path: src/Ting/Serializer/DateTimeZone.php

		-
			message: '#^Strict comparison using \=\=\= between string and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Ting/Serializer/DateTimeZone.php

		-
			message: '#^Instanceof between Brick\\Geo\\Geometry and Brick\\Geo\\Geometry will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Ting/Serializer/Geometry.php

		-
			message: '#^Parameter \#1 \$serialized \(int\) of method CCMBenchmark\\Ting\\Serializer\\Ip\:\:unserialize\(\) should be compatible with parameter \$serialized \(string\) of method CCMBenchmark\\Ting\\Serializer\\UnserializeInterface\:\:unserialize\(\)$#'
			identifier: method.childParameterType
			count: 2
			path: src/Ting/Serializer/Ip.php

		-
			message: '#^Return type \(int\|null\) of method CCMBenchmark\\Ting\\Serializer\\Ip\:\:serialize\(\) should be compatible with return type \(string\) of method CCMBenchmark\\Ting\\Serializer\\SerializeInterface\:\:serialize\(\)$#'
			identifier: method.childReturnType
			count: 2
			path: src/Ting/Serializer/Ip.php

		-
			message: '#^Strict comparison using \=\=\= between int and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Ting/Serializer/Ip.php

		-
			message: '#^Strict comparison using \=\=\= between string and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Ting/Serializer/Ip.php

		-
			message: '#^Strict comparison using \=\=\= between string and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Ting/Serializer/Json.php

		-
			message: '#^Method CCMBenchmark\\Ting\\Serializer\\Uuid\:\:serialize\(\) should return string but returns null\.$#'
			identifier: return.type
			count: 1
			path: src/Ting/Serializer/Uuid.php

		-
			message: '#^Strict comparison using \=\=\= between string and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Ting/Serializer/Uuid.php

		-
			message: '#^Parameter \#1 \$prefix of function uniqid expects string, int\<0, max\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Ting/UnitOfWork.php

		-
			message: '#^Parameter \#2 \$message_type of function error_log expects 0\|1\|3\|4, 16384 given\.$#'
			identifier: argument.type
			count: 1
			path: src/Ting/UnitOfWork.php
