includes:
	- phpstan-baseline.neon

parameters:
	phpVersion: 80100
	level: 7
	paths:
		- src/
		- phpstan/
	tips:
	    treatPhpDocTypesAsCertain: false
	ignoreErrors:
	  - identifier: missingType.iterableValue
	  - identifier: missingType.generics
services:
	-
		class: CCMBenchmark\Ting\PHPStan\PropertiesExtension
		tags:
			- phpstan.properties.readWriteExtension
